<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csc.test.platform.dao.TestCaseExecutionDetailsMapper">
  <resultMap id="BaseResultMap" type="com.csc.test.platform.model.TestCaseExecutionDetails">
    <id column="testID" jdbcType="INTEGER" property="testid" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="projectID" jdbcType="INTEGER" property="projectid" />
    <result column="groupID" jdbcType="INTEGER" property="groupid" />
    <result column="apiID" jdbcType="INTEGER" property="apiid" />
    <result column="executionID" jdbcType="INTEGER" property="executionid" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="caseID" jdbcType="INTEGER" property="caseid" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.csc.test.platform.model.TestCaseExecutionDetailsWithBLOBs">
    <result column="requestInfo" jdbcType="LONGVARCHAR" property="requestinfo" />
    <result column="result" jdbcType="LONGVARCHAR" property="result" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    testID, startTime, endTime, projectID, groupID, apiID, executionID, status, caseID, 
    userID, comments
  </sql>
  <sql id="Blob_Column_List">
    requestInfo, result
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.csc.test.platform.model.TestCaseExecutionDetailsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from eo_project_test_case_execution_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.csc.test.platform.model.TestCaseExecutionDetailsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from eo_project_test_case_execution_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from eo_project_test_case_execution_details
    where testID = #{testid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eo_project_test_case_execution_details
    where testID = #{testid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.csc.test.platform.model.TestCaseExecutionDetailsExample">
    delete from eo_project_test_case_execution_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="testid" useGeneratedKeys="true" parameterType="com.csc.test.platform.model.TestCaseExecutionDetailsWithBLOBs">
    insert into eo_project_test_case_execution_details (testID, startTime, endTime, 
      projectID, groupID, apiID, 
      executionID, status, caseID, 
      userID, comments, requestInfo, 
      result)
    values (#{testid,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{projectid,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, #{apiid,jdbcType=INTEGER}, 
      #{executionid,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{caseid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{comments,jdbcType=VARCHAR}, #{requestinfo,jdbcType=LONGVARCHAR}, 
      #{result,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.csc.test.platform.model.TestCaseExecutionDetailsWithBLOBs">
    insert into eo_project_test_case_execution_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testid != null">
        testID,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="projectid != null">
        projectID,
      </if>
      <if test="groupid != null">
        groupID,
      </if>
      <if test="apiid != null">
        apiID,
      </if>
      <if test="executionid != null">
        executionID,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="caseid != null">
        caseID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="comments != null">
        comments,
      </if>
      <if test="requestinfo != null">
        requestInfo,
      </if>
      <if test="result != null">
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testid != null">
        #{testid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectid != null">
        #{projectid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="apiid != null">
        #{apiid,jdbcType=INTEGER},
      </if>
      <if test="executionid != null">
        #{executionid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="caseid != null">
        #{caseid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="requestinfo != null">
        #{requestinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.csc.test.platform.model.TestCaseExecutionDetailsExample" resultType="java.lang.Long">
    select count(*) from eo_project_test_case_execution_details
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eo_project_test_case_execution_details
    <set>
      <if test="record.testid != null">
        testID = #{record.testid,jdbcType=INTEGER},
      </if>
      <if test="record.starttime != null">
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        endTime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.projectid != null">
        projectID = #{record.projectid,jdbcType=INTEGER},
      </if>
      <if test="record.groupid != null">
        groupID = #{record.groupid,jdbcType=INTEGER},
      </if>
      <if test="record.apiid != null">
        apiID = #{record.apiid,jdbcType=INTEGER},
      </if>
      <if test="record.executionid != null">
        executionID = #{record.executionid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.caseid != null">
        caseID = #{record.caseid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.comments != null">
        comments = #{record.comments,jdbcType=VARCHAR},
      </if>
      <if test="record.requestinfo != null">
        requestInfo = #{record.requestinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.result != null">
        result = #{record.result,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update eo_project_test_case_execution_details
    set testID = #{record.testid,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      projectID = #{record.projectid,jdbcType=INTEGER},
      groupID = #{record.groupid,jdbcType=INTEGER},
      apiID = #{record.apiid,jdbcType=INTEGER},
      executionID = #{record.executionid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      caseID = #{record.caseid,jdbcType=INTEGER},
      userID = #{record.userid,jdbcType=INTEGER},
      comments = #{record.comments,jdbcType=VARCHAR},
      requestInfo = #{record.requestinfo,jdbcType=LONGVARCHAR},
      result = #{record.result,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eo_project_test_case_execution_details
    set testID = #{record.testid,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      projectID = #{record.projectid,jdbcType=INTEGER},
      groupID = #{record.groupid,jdbcType=INTEGER},
      apiID = #{record.apiid,jdbcType=INTEGER},
      executionID = #{record.executionid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      caseID = #{record.caseid,jdbcType=INTEGER},
      userID = #{record.userid,jdbcType=INTEGER},
      comments = #{record.comments,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.csc.test.platform.model.TestCaseExecutionDetailsWithBLOBs">
    update eo_project_test_case_execution_details
    <set>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectid != null">
        projectID = #{projectid,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        groupID = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="apiid != null">
        apiID = #{apiid,jdbcType=INTEGER},
      </if>
      <if test="executionid != null">
        executionID = #{executionid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="caseid != null">
        caseID = #{caseid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="requestinfo != null">
        requestInfo = #{requestinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where testID = #{testid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.csc.test.platform.model.TestCaseExecutionDetailsWithBLOBs">
    update eo_project_test_case_execution_details
    set startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      projectID = #{projectid,jdbcType=INTEGER},
      groupID = #{groupid,jdbcType=INTEGER},
      apiID = #{apiid,jdbcType=INTEGER},
      executionID = #{executionid,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      caseID = #{caseid,jdbcType=INTEGER},
      userID = #{userid,jdbcType=INTEGER},
      comments = #{comments,jdbcType=VARCHAR},
      requestInfo = #{requestinfo,jdbcType=LONGVARCHAR},
      result = #{result,jdbcType=LONGVARCHAR}
    where testID = #{testid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csc.test.platform.model.TestCaseExecutionDetails">
    update eo_project_test_case_execution_details
    set startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      projectID = #{projectid,jdbcType=INTEGER},
      groupID = #{groupid,jdbcType=INTEGER},
      apiID = #{apiid,jdbcType=INTEGER},
      executionID = #{executionid,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      caseID = #{caseid,jdbcType=INTEGER},
      userID = #{userid,jdbcType=INTEGER},
      comments = #{comments,jdbcType=VARCHAR}
    where testID = #{testid,jdbcType=INTEGER}
  </update>
</mapper>